
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/fileinput/fileinput.min.js"></script>
<script src="~/Content/js/fileinput/zh.js"></script>
<link href="~/Content/js/fileinput/fileinput.min.css" rel="stylesheet" />
<script>
    var keyValue = $.request("GID");
    var Cid = $.request("Cid");
    var img;
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/WebManager/CategoryManage/GetGameData",
                data: { Gid: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    InitImgUpload("imgfile", $("#CPath").val());
                }
            });
        }
        else {
            InitImgUpload("imgfile","");
        }
    });

    function InitImgUpload(imgId, ImgList)
    {
        var imglst = [];
        var lst=ImgList.split(',');
        for (var i = 0; i < lst.length; i++)
        {
            if (lst[i].length>0)
            imglst[i] = "<img style='height:160px' src='" + lst[i] + "'>";
        }

        $("#" + imgId).fileinput({
            uploadUrl: "/api/CommonAPI/UploadImage", // server upload action
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            uploadAsync: true,
            initialPreview: imglst,
            maxFileCount: 5
        }).on('fileuploaded', function (event, data, id, index) {
            $('#CPath').val(data.response);
        });
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/WebManager/CategoryManage/SaveModify?Cid=0" + Cid + "&GID=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1" enctype="multipart/form-data" method="post">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">名称</th>
                <td class="formValue">
                    <input id="GName" name="GName" type="text" class="form-control required" placeholder="请输入名称" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">官网地址</th>
                <td class="formValue">
                    <input id="GAddress" name="GAddress" type="text" class="form-control required" placeholder="请输入链接" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">图片</th>
                <td class="formValue">
                    <input id="imgfile" name="imgfile" type="file" multiple class="file-loading" />
                    <input type="hidden" id="GIcon" name="GIcon" />
                </td>
            </tr>

            <tr>
                <th class="formTitle">排序</th>
                <td class="formValue">
                    <input id="GSorce" name="GSorce" type="text" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="height: 35px;">选项</th>
                <td class="formValue" style="padding-top: 1px;">
                    <div class="ckbox">
                        <input id="GStatus" name="GStatus" type="checkbox" checked="checked"><label for="GStatus">有效</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    备注
                </th>
                <td class="formValue">
                    <textarea id="GDes" name="GDes" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>


