<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Data Source=.;Initial Catalog=nfine;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="SystemFrameworkDbContext" connectionString="Data Source=.;Initial Catalog=DDDSystem;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>