
@{
    ViewBag.Title = "ADDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        $("#APID").bindSelect({
            url: "/WebManager/ADManage/GetTreeSelectJson"
        });
        if (!!keyValue) {
            $.ajax({
                url: "/WebManager/ADManage/GetFormData",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '');
                }
            });
        }
    });
</script>
<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">上级</th>
                <td class="formValue">
                    <select id="APID" name="APID" class="form-control required">
                        <option value="0">父节点</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">名称</th>
                <td class="formValue">
                    <input id="AName" name="AName" type="text" class="form-control required" placeholder="请输入名称" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">数量</th>
                <td class="formValue">
                    <input id="AItems" name="AItems" type="text" class="form-control required" placeholder="请输入广告数量" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">排序</th>
                <td class="formValue">
                    <input id="ASort" name="ASort" type="text" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="height: 35px;">选项</th>
                <td class="formValue" style="padding-top: 1px;">
                    <div class="ckbox">
                        <input id="AStatus" name="AStatus" type="checkbox" checked="checked"><label for="AStatus">有效</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    备注
                </th>
                <td class="formValue">
                    <textarea id="ARemark" name="ARemark" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>

